<% flash[:notice] %>
<h1>Books</h1>
<table>
	<thead>
		<th>Title</th>
		<th>Body</th>
	</thead>
	<tbody>
		<% @books.each do |book| %>
			<tr>
				<td><%= book.title %></td>
				<td><%= book.body %></td>
				<td><%= link_to "Show", book_path(book) %></td>
				<td><%= link_to "Edit", edit_book_path(book) %></td>
				<td><%= link_to "Destroy", book_path(book), method: :delete, data: {confirm: "Are you sure?"} %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h1>New book</h1>
<%= form_for(@book) do |f| %>
	<%= render "error", model: f.object %>
	<%= f.label :Title %><br>
	<%= f.text_field :title %><br>
	<%= f.label :Body %><br>
	<%= f.text_area :body %><br>
	<%= f.submit "Create Book" %>
<% end %>